#active-deals-list, #archived-deals-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#active-deals-list li, #archived-deals-list li {
    padding: 10px;
    background-color: #ecf0f1;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#active-deals-list li:hover, #archived-deals-list li:hover {
    background-color: #bdc3c7;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item .index {
    height: 5em;
    width: 1em; /* Adjust this width as needed */
    text-align: right;
    margin-right: 1em;
    color: #333; /* Dark text color */
    padding: 2em; /* Add padding for better spacing */
    border-radius: 4px; /* Rounded corners */
}

.list-group-item .content {
    flex-grow: 1;
    padding-right: 1em; /* Add padding to the right to ensure space for buttons */
    white-space: nowrap; /* Prevent text wrap */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.list-group-item .btn-container, .list-group-item .btn-container-to-active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    height: 10em;
    width: 3.5em; /* Fixed width */
    margin-left: 0.2em; /* Add margin for spacing */
    flex-shrink: 0; /* Prevent shrinking */
}

.list-group-item .btn-container {
    background-color: #dc3545; /* Red background */
}

.list-group-item .btn-container-to-active {
    background-color: #4a9a38; /* Green background */
}

.list-group-item .btn-container button, .list-group-item .btn-container-to-active button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    padding: 0;
    width: 100%;
    height: 100%; /* Make button full height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group-item .btn-container button:hover, .list-group-item .btn-container-to-active button:hover {
    border-radius: 4px;
}

.list-group-item .btn-container button:hover {
    background-color: #850c18; /* Darker shade on hover */
}

.list-group-item .btn-container-to-active button:hover {
    background-color: #02490e; /* Darker green shade on hover */
}
