/* Основные стили для контейнера загрузчика */
.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;
    text-align: center;
    padding: 20px;
}

.file-upload-container:hover {
    border-color: rgba(149, 165, 178);
}

/* Текстовые элементы */
.file-upload-container h4 {
    font-size: 18px;
    color: #333;
    margin-top: 15px; /* Увеличиваем отступ сверху, чтобы иконка не наезжала */
}

.file-upload-container p {
    font-size: 14px;
    color: #666;
}

/* Скрытие стандартного input[type="file"] */
.file-upload-input {
    display: none;
}

/* Стили для метки загрузчика */
.file-upload-label {
    display: inline-block;
    background-color: rgba(149, 165, 178, 0.3);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.file-upload-label:hover {
    background-color: rgba(149, 165, 178, 0.5);
}

/* Стили для перетаскивания файла */
.file-upload-container.dragover {
    background-color: #e6f7ff;
    border-color: rgba(149, 165, 178, 0.7);
}

/* Текст выбранного файла */
.file-name {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* Стили для отступов и выравнивания */
.file-upload-content {
    text-align: center;
    margin-top: 10px;
}

/* Текст ошибки */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* Текст выбранного файла */
.file-name {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* Кнопка отправки */
.upload-button {
    background-color: rgba(72, 104, 121, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    border: none;
    font-size: 16px;
    display: none;
}

.upload-button:hover {
    background-color: rgba(72, 104, 121, 0.6);
}
