html {
    scroll-behavior: smooth;
}

.custom-table, .calc-list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(248, 249, 250, 0.4); /* Фон всей таблицы */
    color: #333; /* Цвет текста */
}

.custom-table th,
.custom-table td,
.calc-list-table th,
.calc-list-table td {
    padding: 12px;
    border: 1px solid rgba(49, 98, 78, 0.04); /* Границы ячеек */
    text-align: center;
}

.custom-table tbody tr, .calc-list-table tbody tr {
    background-color: rgba(233, 236, 239, 0.1); /* Фон четных строк */
    cursor: pointer; /* Курсор на строках */
}

.custom-table tbody tr:hover, .calc-list-table tbody tr:hover {
    background-color: rgb(100, 140, 105, 0.1); /* Фон при наведении */
}

.custom-table tbody tr, .calc-list-table tbody tr {
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.custom-table td i, .calc-list-table td i {
    margin-right: 5px; /* Отступ между иконками */
    cursor: pointer; /* Чтобы курсор менялся на указатель при наведении */
}

.fa-link {
    color: rgba(18, 42, 26, 0.7); /* Зеленый цвет для привязанных КП */
    margin-right: 8px;
    font-size: 16px;
}

.fa-unlink {
    color: rgba(49, 13, 13, 0.7); /* Красный цвет для непривязанных КП */
    margin-right: 18px;
    font-size: 16px;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
    width: 400px; /* Установите нужную ширину */
    max-width: 400px; /* Максимальная ширина */
    word-wrap: break-word; /* Перенос слов */
}

.calc-list-table td {
    padding: 3px;
    font-size: 13px;
}