#tranches-container {
    margin: 20px;
}

#tranches-table {
    width: 100%;
    max-width: 1000px;
    font-size: 14px;
}

#tranches-table th, #tranches-table td {
    border: 1px solid #eeeded;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

#tranches-table th {
    background-color: rgba(58, 162, 123, 0.8);
    color: white;
    font-size: small;

}

#tranches-table input[type="text"], #tranches-table input[type="date"] {
    width: 90%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#tranches-table input[type="date"] {
    position: relative;
    padding: 8px 12px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#tranches-table input[type="date"]::-webkit-inner-spin-button,
#tranches-table input[type="date"]::-webkit-clear-button {
    display: none;
}

#tranches-table input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    color: #555;
    opacity: 0.5;
    cursor: pointer;
}

#tranches-table input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}


#input-period input[type="date"] {
    width: 50%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#input-period input[type="date"] {
    position: relative;
    padding: 8px 12px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#input-period input[type="date"]::-webkit-inner-spin-button,
#input-period input[type="date"]::-webkit-clear-button {
    display: none;
}

#input-period input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    color: #555;
    opacity: 0.5;
    cursor: pointer;
}

#input-period input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}