.exchange-rates {
    max-width: 100%; /* адаптируется под размер родительского контейнера */
    margin: auto;
    border-radius: 10px;
    overflow: auto;
    font-size: 14px;
}

.exchange-rates-title {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.4);
}

.exchange-rates-table {
    width: 100%;
    border-collapse: collapse;
}

.exchange-rates-table th, .exchange-rates-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.exchange-rates-table tr:last-child td {
    border-bottom: none;
}

.currency-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}