.table-container {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th {
    background-color: rgba(58, 162, 123, 0.8);
    color: white;
    font-size: small;
    padding: 10px;
    text-align: center;
}

.table-container td {
    padding: 5px;
    box-sizing: border-box;
    white-space: normal;
}

/* Стили для input[type="date"] */
input[type="date"] {
    appearance: none; /* Убираем стандартное оформление браузера */
    -webkit-appearance: none; /* Для WebKit браузеров */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* Иконка календаря */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-size: 15px 15px;
    color: transparent;
    opacity: 0.5;
    width: 15px;
    height: 15px;
    position: relative;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
}

/* Дополнительные стили для input на мобильных устройствах */
@media (max-width: 600px) {
    input[type="date"] {
        font-size: 16px;
        padding: 12px;
    }
}

#tranches-table th:first-child,
#tranches-table td:first-child {
    text-align: left !important; /* Выравнивание текста с !important */
    min-width: 150px;
}