.key-rate-container {
    padding: 20px 0;
    border-top: 1px solid rgba(221, 221, 221, 0.3);
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.key-rate-container .label {
    font-size: 14px;
    color: #7f8c8d;
    width: 100%;
    text-align: left;
}

.key-rate-container .line {
    width: 100%;
    height: 2px;
    background-color: rgba(157, 157, 157, 0.10);
    margin: 15px 0;
}

.key-rate-container .date-rate-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key-rate-container .date {
    font-size: 14px;
    color: #000;
}

.key-rate-container .rate {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}