.main-content {
    font-family: 'Roboto', sans-serif;
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    transition: margin-left 0.5s ease-in-out;
}

.main-content.shrink {
    margin-left: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.51);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.form-section {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

output {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1em;
    color: #333;
}

.revenue-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.revenue-options label {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #333;
}

.revenue-options input[type="radio"] {
    margin-right: 5px;
}

.calculate-btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 123, 255, 0.49);
    color: rgba(255, 255, 255, 0.42);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s;
}

.calculate-btn:hover {
    background-color: rgba(0, 86, 179, 0.5);
}

.result-section {
    background-color: rgba(255, 255, 255, 0.54);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-section h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.result-section p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
}

.monthly-payment {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.tax-saving {
    color: #28a745;
    font-weight: bold;
}

.annual-interest, .contract-amount {
    font-size: 1em;
    color: #666;
}

.vehicle-types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.vehicle-type {
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    border: 1px solid rgba(221, 221, 221, 0.51);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 4px;
    margin: 5px;
    font-size: 0.9em;
    color: #333;
    flex: 1 1 auto;
    text-align: center;
    max-width: 150px;
}

.vehicle-type:hover,
.vehicle-type.active {
    background-color: rgba(0, 123, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
    border-color: rgba(0, 123, 255, 0.48);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Размытие фона */
}

.tabs button i {
    margin-right: 8px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 18px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs button {
    background-color: rgba(255, 255, 255, 0.30);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tabs button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.tabs button.active {
    background-color: rgba(55, 101, 86, 0.8);
    color: rgba(255, 255, 255);
}

.content {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group .input-container, .input-container-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group .input-container .input-group {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.form-group .input-container input {
    width: 140px;
    font-size: 14px;
    padding: 5px;
    -moz-appearance: textfield;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.4);
    border-radius: 4px;
}

.form-group .input-container-item-name input {
    width: 500px;
    font-size: 14px;
    padding: 5px;
    -moz-appearance: textfield;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.4);
    border-radius: 4px;
}

.form-group .input-container input::-webkit-outer-spin-button,
.form-group .input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group .slider-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-group input[type="range"] {
    flex-grow: 1;
    margin: 0 10px;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}

.results {
    width: 35%;
    background-color: rgba(244, 244, 244, 0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result p {
    margin: 5px 0;
    font-size: 14px;
}

.result .big {
    font-size: 24px;
    font-weight: bold;
}

.result .savings {
    color: green;
    font-size: 16px;
}

.calculate-button {
    display: block;
    width: 100%;
    background-color: rgba(55, 101, 86, 0.8);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.calculate-button:hover {
    background-color: rgba(55, 101, 86, 1);
}

.input-section {
    width: 60%;
    padding-right: 20px;
}

input[type="number"] {
    background: rgba(255, 255, 255, 0.56);
    border: none;
}

input[type="text"] {
    background: rgba(255, 255, 255, 0.56);
    border: none;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    padding-right: 30px; /* Увеличим padding для правого отступа */
}

.currency-label,
.percent-label {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-55%);
    white-space: nowrap;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.5);
}

.input-container {
    margin-right: 10px; /* Добавим отступ между контейнерами */
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #376556 0%, #376556 var(--value, 0%), #ddd var(--value, 0%), #ddd 100%);
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 4px solid rgba(55, 101, 86, 0.9);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 4px solid rgba(55, 101, 86, 0.9);
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 4px solid rgba(55, 101, 86, 0.9);
}

