.sidebar {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 20px;
    backdrop-filter: blur(3px); /* Размытие фона */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar h6 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.user-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.user-photo img {
    width: 90px; /* Adjust the size as needed */
    height: 90px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar ul li i {
    margin-right: 10px;
}

.main-content {
    font-family: 'Roboto', sans-serif;
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;

}

.main-content .card {
    background: rgba(255, 255, 255, 0.05); /* Полупрозрачный белый фон */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.main-content .card h2 {
    color: rgba(255, 255, 255, 0.8); /* Полупрозрачный текст заголовка */
}

.main-content .card input[type="text"], .main-content .card input[type="hidden"] {
    background: rgba(255, 255, 255, 0.15); /* Полупрозрачный фон поля ввода */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница поля ввода */
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Учитывает padding и border */
    box-sizing: border-box; /* Учитывает padding и border в width */
    color: rgba(0, 0, 0, 0.1); /* Полупрозрачный текст */
}

.main-content h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.card {
    background-color: rgba(255, 255, 255, 0.54);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.card form input, .card form textarea, .card form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(189, 195, 199, 0.45);
    border-radius: 4px;
    font-size: 16px;
}

.card form button {
    background-color: rgba(44, 62, 80, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.card form button:hover {
    background-color: rgba(52, 73, 94, 0.7);
}

.hidden {
    display: none;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.submenu.show {
    max-height: 150px; /* Увеличьте это значение в зависимости от количества элементов */
    opacity: 1;
}

.submenu li {
    margin-top: 5px;
}

.submenu li:hover {
    cursor: pointer;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

#deal-title {
    background: rgba(255, 255, 255, 0.1); /* Менее прозрачный фон */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница */
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Учитывает padding и border */
    box-sizing: border-box; /* Учитывает padding и border в width */
    color: rgba(255, 255, 255, 0.9); /* Менее прозрачный текст */
}

#deal-title::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Менее прозрачный текст */
}

#task {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px; /* Ширина карточки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px); /* Размытие фона */
}

#task h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

#task form input[type="text"],
#task form input[type="hidden"] {
    width: calc(100%); /* Учитывает padding и border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

}

#task form button {
    background-color: rgba(55, 101, 86, 0.4);
    width: calc(100%); /* Учитывает padding и border */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#task form button:hover {
    background-color: rgba(55, 101, 86, 0.8);
}

th, td {
    padding: 15px;
    text-align: left;
}

.deal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(60px); /* Размытие фона */
    color: rgba(255, 255, 255, 0.8); /* Полупрозрачный текст заголовка */
}

.deal-table th {
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.01); /* Нижняя граница для заголовков */
}

.deal-table tbody tr {
    background-color: rgba(255, 255, 255, 0.01); /* Фон для строк таблицы */
    transition: background-color 0.3s ease; /* Плавный переход для ховера */
}

.deal-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Фон при наведении */
    cursor: pointer; /* Курсор при наведении */
}

.btn-container {
    text-align: right;
    padding: 10px;
}

.icon-button {
    text-align: right;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none; /* Убирает рамку при нажатии */
}

.icon-button i {
    color: rgba(255, 255, 255, 0.7); /* Начальный цвет иконки */
    font-size: 1.2em; /* Размер иконки */
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Фон кнопки при наведении */
}

.icon-button:hover i {
    color: rgba(255, 255, 255, 1); /* Цвет иконки при наведении */
}

.icon-button:active {
    outline: none; /* Убирает рамку при нажатии */
}