html {
    scroll-behavior: smooth;
}

.sidebar {
    font-family: 'Roboto', sans-serif;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 20px;
    backdrop-filter: blur(3px); /* Размытие фона */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar h6 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.user-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.user-photo img {
    width: 90px; /* Adjust the size as needed */
    height: 90px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar ul .default-li {
    position: relative;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar ul li i {
    margin-right: 10px;
}

.main-content {
    font-family: 'Roboto', sans-serif;
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;

}

.main-content .card {
    background: rgba(255, 255, 255, 0.05); /* Полупрозрачный белый фон */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.main-content .card h2 {
    color: rgba(255, 255, 255, 0.8); /* Полупрозрачный текст заголовка */
}

.main-content .card input[type="text"], .main-content .card input[type="hidden"] {
    background: rgba(255, 255, 255, 0.15); /* Полупрозрачный фон поля ввода */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница поля ввода */
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Учитывает padding и border */
    box-sizing: border-box; /* Учитывает padding и border в width */
    color: rgba(0, 0, 0, 0.1); /* Полупрозрачный текст */
}

.main-content h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.card {
    background-color: rgba(255, 255, 255, 0.54);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.card form input, .card form textarea, .card form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(189, 195, 199, 0.45);
    border-radius: 4px;
    font-size: 16px;
}

.card form button {
    background-color: rgba(44, 62, 80, 0.85);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.card form button:hover {
    background-color: rgba(52, 73, 94, 0.7);
}

.hidden {
    display: none;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.submenu.show {
    max-height: 150px; /* Увеличьте это значение в зависимости от количества элементов */
    opacity: 1;
}

.submenu li {
    margin-top: 5px;
}

.submenu li:hover {
    cursor: pointer;
}

/* Стили для элемента <li> */
.clickable-in {
    position: relative;
    padding: 0;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 14px;
}

/* Ссылка должна занимать всю площадь <li> */
.clickable-in a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
    color: #cccccc;
    transition: color 0.3s; /* Только цвет текста, без фона */
}

/* Ховер применяется только к элементу <a> */
.clickable-in a:hover {
    color: #cccccc; /* Цвет текста при ховере */
}

/* Ховер применяется только к <li> */
.clickable-in:hover {
    background-color: rgba(255, 255, 255, 0.08); /* Фон при ховере */
    color: #ffffff; /* Цвет текста при ховере */
}

/* Иконка с отступом */
.clickable-in i {
    margin-right: 10px;
    vertical-align: middle; /* Выровнять иконку по центру строки */
}

#deal-title {
    background: rgba(255, 255, 255, 0.1); /* Менее прозрачный фон */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная граница */
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Учитывает padding и border */
    box-sizing: border-box; /* Учитывает padding и border в width */
    color: rgba(255, 255, 255, 0.9); /* Менее прозрачный текст */
}

#deal-title::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Менее прозрачный текст */
}

#task {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px; /* Ширина карточки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px); /* Размытие фона */
}

#task h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

#task form input[type="text"],
#task form input[type="hidden"] {
    width: calc(100%); /* Учитывает padding и border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

}

#task form button {
    background-color: rgba(55, 101, 86, 0.4);
    width: calc(100%); /* Учитывает padding и border */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#task form button:hover {
    background-color: rgba(55, 101, 86, 0.8);
}

th, td {
    padding: 15px;
    text-align: left;
}

.deal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(60px); /* Размытие фона */
    color: rgba(255, 255, 255, 0.8); /* Полупрозрачный текст заголовка */
}

.deal-table th {
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.01); /* Нижняя граница для заголовков */
}

.deal-table tbody tr {
    background-color: rgba(255, 255, 255, 0.01); /* Фон для строк таблицы */
    transition: background-color 0.3s ease; /* Плавный переход для ховера */
}

.deal-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Фон при наведении */
    cursor: pointer; /* Курсор при наведении */
}

.icon-button {
    text-align: right;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none; /* Убирает рамку при нажатии */
}

.icon-button i {
    color: rgba(255, 255, 255, 0.7); /* Начальный цвет иконки */
    font-size: 1.2em; /* Размер иконки */
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Фон кнопки при наведении */
}

.icon-button:hover i {
    color: rgba(255, 255, 255, 1); /* Цвет иконки при наведении */
}

.icon-button:active {
    outline: none; /* Убирает рамку при нажатии */
}

/* Убрать hover-эффект */
#active-deals .deal-table .filter-row:hover {
    background-color: transparent;
    cursor: auto;
}

/* Стили для инпута фильтрации внутри #active-deals */
#active-deals .deal-table .filter-input,
#archived-deals .deal-table .filter-input-archived,
#active-deals .deal-table .filter-input-product,
#archived-deals .deal-table .filter-input-product-archived,
#active-deals .deal-table .filter-input-manager,
#archived-deals .deal-table .filter-input-manager-archived,
#active-deals .deal-table .filter-input-created,
#archived-deals .deal-table .filter-input-created-archived,
#archived-deals .deal-table .filter-input-to-archive-archived,
#active-deals .deal-table .filter-input-dl,
#archived-deals .deal-table .filter-input-dl-archived {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* Стили для строки фильтрации внутри #archived-deals */
#archived-deals .deal-table #filter-row-archived {
    color: rgba(255, 255, 255, 0.8); /* Полупрозрачный текст */
}

/* Убрать hover-эффект */
#archived-deals .deal-table .filter-row-archived:hover {
    background-color: transparent;
    cursor: auto;
}

#active-deals h4, #archived-deals h4 {
    position: absolute;
    color: rgba(255, 255, 255, 0.6); /* Полупрозрачный текст */
    right: 30px; /* Расположение справа */
    top: 30px; /* Можно настроить по высоте */
    cursor: pointer; /* Изменяет курсор на указатель при наведении */
}

#active-deals h4:hover, #archived-deals h4:hover {
    color: #ffffff; /* Цвет при наведении, можно изменить на любой желаемый */
}

/* Стиль для обычного состояния ссылки */
.nav-link.exit-link {
    color: #ffffff; /* Цвет текста по умолчанию */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease, border 0.3s ease; /* Плавный переход цвета и рамки */
    border: 2px solid transparent; /* Прозрачная рамка для правильного перехода */
    padding: 4px; /* Внутренний отступ для ссылки */
}

/* Стиль для состояния при наведении (hover) */
.nav-link.exit-link:hover {
    color: rgba(199, 199, 199, 0.8); /* Цвет текста при наведении, например, красный */
    border-color: rgba(199, 199, 199, 0.05); /* Цвет рамки при наведении, например, красный */
}
