<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/crm.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('crm.static', filename='/images/gpt.png') }}" type="image/png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.1"></script>
    <!-- DADATA -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
    <style>
        .list-group-item {
            display: flex;
            align-items: center;
        }

        .list-group-item .index {
            width: 2em; /* Adjust this width as needed */
            text-align: right;
            margin-right: 1em;
        }

        .list-group-item .content {
            flex-grow: 1;
        }

        .hidden {
            display: none;
        }

        .submenu {
            list-style-type: none;
            padding-left: 20px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            opacity: 0;
        }

        .submenu.show {
            max-height: 150px; /* Увеличьте это значение в зависимости от количества элементов */
            opacity: 1;
        }

        .submenu li {
            margin-top: 5px;
        }

        .submenu li:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="sidebar">
    <div class="user-photo">
        <img src="{{ user_url }}" alt="User Photo" class="profile-image">
    </div>
    <h6>{{ current_user }}</h6>
    <h2>CRM System</h2>
    <ul>
        <li onclick="toggleSubmenu('deals-submenu')"><i class="fas fa-handshake"></i> Список сделок</li>
        <ul id="deals-submenu" class="submenu">
            <li onclick="showForm('active-deals')"> - Активные сделки</li>
            <li onclick="showForm('archived-deals')">- Архивные сделки</li>
        </ul>
        <li onclick="showForm('task')"><i class="fas fa-tasks"></i> Создать сделку</li>
    </ul>
</div>

<div class="main-content">
    <div id="active-deals" class="card hidden">
        <h2>Активные сделки</h2>
        <ul id="deals-list">
            {% for deal in deals %}
                <li onclick="showDeal({{ deal.id }}, '{{ deal.title }}')"
                    class="list-group-item">
                    <div class="index">{{ loop.index }}</div>
                    <div class="content">
                        Краткое описание сделки: <br><br>
                        Лизингополучатель: {{ deal.title }}<br>
                        ИНН: {{ deal.company_inn }}<br>
                        Менеджер: {{ deal.created_by }}<br>
                        Дата создания сделки: {{ deal.created_at.strftime("%d.%m.%Y %H:%M") }}
                        <button onclick="event.stopPropagation(); deleteDeal({{ deal.id }})"
                                class="btn btn-danger btn-sm float-right">Удалить
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="archived-deals" class="card hidden">
        <h2>Архивные сделки</h2>
        <ul id="deals-list">
            {% for deal in deals %}
                <li onclick="showDeal({{ deal.id }}, '{{ deal.title }}')"
                    class="list-group-item">
                    <div class="index">{{ loop.index }}</div>
                    <div class="content">
                        Краткое описание сделки: <br><br>
                        Лизингополучатель: {{ deal.title }}<br>
                        ИНН: {{ deal.company_inn }}<br>
                        Менеджер: {{ deal.created_by }}<br>
                        Дата создания сделки: {{ deal.created_at.strftime("%d.%m.%Y %H:%M") }}
                        <button onclick="event.stopPropagation(); deleteDeal({{ deal.id }})"
                                class="btn btn-danger btn-sm float-right">Удалить
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="task" class="card hidden">
        <h2>Создать сделку</h2>
        <form id="create-deal-form">
            <input type="text" id="deal-title" placeholder="Введите наименование лизингополучателя" required>
            <input type="hidden" id="deal-info" placeholder="" required>
            <button type="submit">Добавить сделку</button>
        </form>
        <script>
            var suggestionsToken = "{{ suggestions_token }}";
        </script>
        <script src="{{ url_for('crm.static', filename='js/inn_dada.js') }}"></script>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="deal-modal" tabindex="-1" aria-labelledby="deal-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deal-modal-title">Детали сделки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-deal-title"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleSubmenu(id) {
        var submenu = document.getElementById(id);
        if (submenu.classList.contains('show')) {
            submenu.classList.remove('show');
        } else {
            submenu.classList.add('show');
        }
    }

    function showForm(formId) {
        document.querySelectorAll('.deal-content .card').forEach(card => {
            card.classList.add('hidden');
        });
        document.getElementById(formId).classList.remove('hidden');
    }
</script>

<script>
    function showForm(formId) {
        document.querySelectorAll('.main-content .card').forEach(card => {
            card.classList.add('hidden');
        });
        document.getElementById(formId).classList.remove('hidden');
        localStorage.setItem('currentView', formId);
    }

    // Показать форму на основе сохраненного состояния при загрузке страницы
    const currentView = localStorage.getItem('currentView') || 'active-deals'; // Показать 'active-deals' по умолчанию
    showForm(currentView);
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/crm/deals')
            .then(response => response.json())
            .then(data => {
                var dealsList = document.getElementById('deals-list');
                dealsList.innerHTML = ''; // Очистить существующие элементы
                data.deals.forEach((deal, index) => {
                    var dealItem = `<li id="deal-${deal.id}" onclick="showDeal(${deal.id}, '${deal.title}')" class="list-group-item">
                        <div class="index">${index + 1}</div>
                        <div class="content">
                            Краткое описание сделки: <br><br>
                            Лизингополучатель: ${deal.title}<br>
                            ИНН: ${deal.company_inn}<br>
                            Менеджер: ${deal.created_by}<br>
                            Дата создания сделки: ${new Date(deal.created_at).toLocaleString()}
                            <button onclick="event.stopPropagation(); deleteDeal(${deal.id})" class="btn btn-danger btn-sm float-right">Удалить</button>
                        </div>
                    </li>`;
                    dealsList.insertAdjacentHTML('beforeend', dealItem);
                });
            });
    });

    var socket = io();

    socket.on('connect', function () {
        console.log('Connected to SocketIO server');
    });

    socket.on('new_deal', function (data) {
        console.log(data);
        var dealsList = document.getElementById('deals-list');
        var currentIndex = dealsList.children.length + 1; // Calculate the new index
        var dealItem = `<li id="deal-${data.id}" onclick="showDeal(${data.id}, '${data.title}')" class="list-group-item">
            <div class="index">${currentIndex}</div>
            <div class="content">
                Краткое описание сделки: <br><br>
                Лизингополучатель: ${data.title}<br>
                ИНН: ${data.company_inn}<br>
                Менеджер: ${data.created_by}<br>
                Дата создания сделки: ${new Date(data.created_at).toLocaleString()}
                <button onclick="event.stopPropagation(); deleteDeal(${data.id})" class="btn btn-danger btn-sm float-right">Удалить</button>
            </div>
        </li>`;
        dealsList.insertAdjacentHTML('beforeend', dealItem);
    });

    socket.on('delete_deal', function (data) {
        console.log('Deleting deal:', data);
        var dealItem = document.getElementById(`deal-${data.id}`);
        if (dealItem) {
            dealItem.remove();
            updateIndexes(); // Recalculate indexes
        } else {
            console.log('Deal item not found:', data.id);
        }
    });

    document.getElementById('create-deal-form').addEventListener('submit', function (event) {
        event.preventDefault();
        var title = document.getElementById('deal-title').value;
        var fullInfo = document.getElementById('deal-info').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/crm/deal/create_deal', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 201) {
                document.getElementById('deal-title').value = '';
                document.getElementById('deal-info').value = '';
                showForm('active-deals');
            }
        };
        var data = JSON.stringify({
            title: title,
            info: fullInfo
        });
        xhr.send(data);
    });

    function deleteDeal(dealId) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', `/crm/deal/delete_deal/${dealId}`, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log(`Deal ${dealId} deleted successfully.`);
                // Emit delete_deal event to notify other clients
                socket.emit('delete_deal', {id: dealId});
            }
        };
        xhr.send();
    }

    function updateIndexes() {
        var dealsList = document.getElementById('deals-list');
        var dealItems = dealsList.children;
        for (var i = 0; i < dealItems.length; i++) {
            var indexElement = dealItems[i].querySelector('.index');
            indexElement.textContent = i + 1;
        }
    }
</script>

</body>
</html>
