<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ deal.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/deal-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/deal-stepper.css') }}">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/deal-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/deal-inside-responsible.css') }}">
    <link rel="stylesheet" href="{{ url_for('crm.static', filename='css/leas-calc-toast-style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" href="{{ url_for('crm.static', filename='/images/gpt.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.1"></script>

    <!-- toastr -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2/build/toastr.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastr@2/build/toastr.min.css">

    <!-- DADATA -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="sidebar" id="sidebar">
    <ul>
        <li class="clickable">
            <a class="nav-link" href="{{ url_for('deal.index_crm') }}"><i class="fa-solid fa-chevron-left"></i>
                Вернуться к сделкам</a>
        </li>
        <br>
        <li class="nav-link" onclick="showForm('some')"><i class="fa-solid fa-database"></i> Данные по сделке</li>
    </ul>
    <h6>{{ current_user }}</h6>
</div>
<div class="main-content" id="main-content">
    <div class="tabs">
        <div class="tab active" onclick="showTab('general')"><i class="fa-solid fa-info-circle"></i> Общие</div>
        <div class="tab" onclick="showTab('history')"><i class="fa-solid fa-clock-rotate-left"></i> История</div>
    </div>
    <div id="general" class="tab-content active">
        <div class="stepper">
            <div class="step completed">Отдел безопасности</div>
            <div class="step">Юридический отдел</div>
            <div class="step">Отдел рисков</div>
            <div class="step">Отдел лизинга</div>
            <div class="step">Хасанова Д. Р.</div>
            <div class="step">Габдрахманов Р. Р.</div>
            <div class="step">Каюмов А. Д.</div>
            <div class="step">Завершить сделку</div>
        </div>
        <h4>Основные сведения по сделке</h4>
        <div class="deal-info">
            <div class="left">
                <div class="section">
                    <h3>Продукт</h3>
                    <p>{{ deal.product }}</p>
                </div>
                <div class="section">
                    <h3>№ договора лизинга</h3>
                    <p>{{ deal.dl_number }}</p>
                </div>
                <div class="section">
                    <h3>Предмет лизинга</h3>
                    <p>{{ leas_calc.item_name if leas_calc.item_name else '-' }}</p>
                </div>
                <div class="section">
                    <h3>Стоимость предмета лизинга</h3>
                    <p>{{ leas_calc.item_price_str + ' ₽' if leas_calc.item_price_str else '-' }}</p>
                </div>
                <div class="section">
                    <h3>Аванс</h3>
                    <p>{{ leas_calc.initial_payment_str + ' ₽' if leas_calc.initial_payment_str else '-' }}</p>
                </div>
                <div class="section">
                    <h3>Срок лизинга</h3>
                    <p>{{ (leas_calc.credit_term | string) + ' мес.' if leas_calc.credit_term else '-' }}</p>
                </div>
            </div>
            <div class="right">
                <div class="section">
                    <h3>Клиент</h3>
                    <p>Наименование: {{ deal.title }}</p>
                    <p>ИНН: {{ deal.company_inn }}</p>
                </div>
                <div class="section">
                    <h3 class="supplier-header" style="margin-bottom: 0">
                        Поставщик
                        <i class="fa-solid fa-pen fa-xs" id="edit-name-icon"></i>
                        <button id="save-supplier" class="supplier-action-button" style="display:none;">Сохранить
                        </button>
                        <button id="cancel-supplier" class="supplier-action-button" style="display:none;">Отменить
                        </button>
                    </h3>
                    <p>Наименование:
                        <span id="supplier-name-display" class="supplier-display-text">{{ deal.seller_name }}</span>
                        <input type="text" id="supplier-name-input" class="supplier-input-field"
                               value="{{ deal.seller_name }}">
                    </p>
                    <p>ИНН:
                        <span id="supplier-inn-display" class="supplier-display-text">{{ deal.seller_inn }}</span>
                        <input type="text" id="supplier-inn-input" class="supplier-input-field"
                               value="{{ deal.seller_inn }}">
                    </p>
                </div>
                <div class="section">
                    <h3>Ответственный</h3>
                    <p>
                        <span id="current-created-by" data-user-id="{{ deal.created_by }}">{{ deal.created_by }}</span>

                        {% if current_user.role in ['admin'] or current_user.fullname == deal.created_by %}
                            <i class="fa-solid fa-pen fa-xs" id="user-icon"></i>
                        {% endif %}
                    </p>
                    <p id="deal-created-at">{{ deal.created_at }}</p>

                    <!-- Контейнер для выпадающего списка с кнопками -->
                    <div id="user-dropdown"
                         style="display: none; position: absolute; background-color: white; border: 1px solid #ccc; z-index: 1000; padding: 10px;">
                        <!-- Сюда будет добавляться список пользователей и кнопки -->
                    </div>
                </div>
                <script>
                    var suggestionsToken = "{{ suggestions_token }}";
                </script>
            </div>
        </div>
    </div>
    <div id="history" class="tab-content">
        <h2>История</h2>
        <!-- Your comments tab content here -->
    </div>
</div>
<script>
    function showTab(tabId) {
        var tabs = document.getElementsByClassName('tab-content');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove('active');
        }
        document.getElementById(tabId).classList.add('active');

        var tabButtons = document.getElementsByClassName('tab');
        for (var i = 0; i < tabButtons.length; i++) {
            tabButtons[i].classList.remove('active');
        }
        event.target.classList.add('active');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dateElement = document.getElementById('deal-created-at');
        const date = new Date(dateElement.textContent);
        dateElement.textContent = "Дата создания сделки: " + date.toLocaleString();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clickableItems = document.querySelectorAll('.sidebar ul li.clickable');

        clickableItems.forEach(function (item) {
            item.addEventListener('click', function () {
                var link = item.querySelector('a.nav-link');
                if (link) {
                    window.location.href = link.href;
                }
            });
        });
    });
</script>
<
<script type="text/javascript" charset="utf-8">
    var socket = io();

    // Подключаемся к комнате при загрузке страницы
    var dealId = '{{ deal_id }}';  // Должно содержать только ID сделки
    var room = dealId;  // Проверяем, что room устанавливается только как deal_id
    var username = '{{ current_user.fullname }}';

    socket.emit('join', {username: username, room: room});
    console.log('Joined room: ' + room);

    // Обработчик для получения сообщений
    socket.on('update_created_by', function (data) {
        // Обновляем текст текущего ответственного
        document.getElementById('current-created-by').textContent = data.new_created_by;
        // Отображаем уведомление
        showInfo(data.message);
    });

    // Отключаемся от комнаты перед закрытием страницы
    window.onbeforeunload = function () {
        socket.emit('leave', {username: username, room: room});
        console.log('Left room: ' + room);
    };

    // Отключаемся от комнаты при клике на ссылку
    document.querySelector('.clickable a').addEventListener('click', function (event) {
        event.preventDefault(); // Останавливаем переход по ссылке
        socket.emit('leave', {username: username, room: room});
    });
</script>

<!-- Scripts -->
<script src="{{ url_for('crm.static', filename='js/deal-inside-responsible.js') }}"></script>
<script src="{{ url_for('crm.static', filename='js/deal-inside-dadata.js') }}"></script>
</body>
</html>