<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>Отдел рисков</title>
		<!-- Подключите ваш файл CSS -->
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/background.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/main-data.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/modal-decision.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/document-module.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/timer-module.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/risk_department/decision-part.css') }}"
		/>
		<link
			rel="icon"
			href="{{ url_for('crm.static', filename='/images/gpt.png') }}"
			type="image/png"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('crm.static', filename='css/deal-sidebar.css') }}"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>

		<!-- SweetAlert2 -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body>
		<!-- Кастомное модальное окно -->
		<div id="decision-modal" class="custom-modal">
			<div class="custom-modal-content">
				<span class="custom-close-button" id="close-modal">
					<i class="fas fa-times"></i>
				</span>
				<h2>Выберите действие</h2>
				<div class="modal-buttons">
					<button class="option-button" onclick="submitDecision('approve')">
						<i class="fas fa-check"></i> Одобрить
					</button>
					<button
						class="option-button"
						onclick="submitDecision('send_to_committee')"
					>
						<i class="fas fa-paper-plane"></i> Отправить на инвесткомитет
					</button>
					<button class="option-button" onclick="submitDecision('reject')">
						<i class="fas fa-times"></i> Отказать
					</button>
				</div>
			</div>
		</div>

		<!-- Боковое меню -->
		{% include 'sidebar-deal.html' %}

		<!-- Основной контент -->
		<div class="main-content">
			<!-- Контейнер для разделения на колонки -->
			<div class="content-container">
				<!-- Первая колонка с основными данными -->
				<div class="left-column">
					<!-- Основные данные -->
					<h2>Основные данные</h2>

					<!-- Раздел "Лизингополучатель" -->
					<h5>Лизингополучатель</h5>
					<div class="data-section">
						<div class="data-row">
							<span class="data-label">Наименование:</span>
							<span class="data-value">{{ client.name }}</span>
						</div>
						<div class="data-row">
							<span class="data-label">ИНН:</span>
							<span class="data-value copyable" data-copy="{{ client.inn }}">{{ client.inn }}</span>
							<img class="copyable" style="opacity: 0.4;" width="25" height="25" src="https://img.icons8.com/pulsar-line/48/copy.png" alt="copy" data-copy="{{ client.inn }}" />
						</div>
						<div class="data-row">
							<span class="data-label">Дата регистрации:</span>
							<span class="data-value" id="registration-date"
								>{{ client.date_of_registration }}</span
							>
						</div>
						<div class="data-row">
							<span class="data-label">Адрес:</span>
							<span class="data-value">{{ client.address }}</span>
						</div>
						<div class="data-row">
							<span class="data-label">Директор:</span>
							<span class="data-value">{{ client.director }}</span>
						</div>
					</div>
					<!-- Раздел "Продавца" -->
					<div class="data-section">
						{% for seller_key, seller in sellers.items() %}
						<div class="seller-block">
							<h5>{{ seller_key }}</h5>
							<div class="data-row">
								<span class="data-label">Имя:</span>
								<span class="data-value">{{ seller.name }}</span>
							</div>
							<div class="data-row">
								<span class="data-label">ИНН:</span>
								<span class="data-value copyable" data-copy="{{ seller.inn }}">{{ seller.inn }}</span>
								<img class="copyable" style="opacity: 0.4;" width="25" height="25" src="https://img.icons8.com/pulsar-line/48/copy.png" alt="copy" data-copy="{{ seller.inn }}" />
							</div>
							<div class="data-row">
								<span class="data-label">Дата регистрации:</span>
								<span class="data-value">{{ seller.date_of_registration }}</span>
							</div>
							<div class="data-row">
								<span class="data-label">Адрес:</span>
								<span class="data-value">{{ seller.address }}</span>
							</div>
							<div class="data-row">
								<span class="data-label">Наименование ПЛ:</span>
								<span class="data-value">{{ seller.item_name }}</span>
							</div>
							<div class="data-row">
								<span class="data-label">Год выпуска ПЛ:</span>
								<span class="data-value">{{ seller.item_year }}</span>
							</div>
							<div class="data-row">
								<span class="data-label">Цена ПЛ:</span>
								<span class="data-value">{{ seller.item_price }} руб.</span>
							</div>
							<div class="data-row">
								<span class="data-label">Тип ПЛ:</span>
								<span class="data-value">{{ seller.item_type }}</span>
							</div>
						</div>
						{% else %}
						<h5>КП еще не привязан к сделке/Не заполнены все данные</h5>
						{% endfor %}
					</div>
				</div>

				<!-- Вторая колонка, поделена на две части -->
				<div class="right-column">

					<div class="time-section">
						<h2>Срок рассмотрения</h2>
					</div>

					<!-- Вторая часть: Сформированные документы -->
					<div class="documents-section">
						<h2>Сформированные документы</h2>
						<div class="documents-list-container">
							<ul class="documents-list">
								{% for document in documents %}
								<li>
									<a
										href="{{ url_for('download_document', document_id=document.id) }}"
										target="_blank"
									>
										{{ document.name }}
									</a>
								</li>
								{% else %}
								<p>Документы отдела рисков еще не сформированы</p>
								{% endfor %}
							</ul>
						</div>
						<div class="icon-container">
							<div class="icon-item">
								<img width="60" style="opacity: 0.5;" height="60" src="https://img.icons8.com/pulsar-line/96/mac-folder.png" alt="mac-folder"/>
								<p>Папка сделки</p>
							</div>
							<div class="icon-item">
								<img width="60" style="opacity: 0.5;" height="60" src="https://img.icons8.com/pulsar-line/96/document.png" alt="document"/>
								<p>Эконом. заключение</p>
							</div>
						</div>
					</div>
					<div class="decision-section">
						<h2>Решение по проекту</h2>
						{% if decision %}
						<div id="decision-display">
							<p class="decision-text">
								<img
									width="35"
									height="35"
									src={{ decision.decision_icon }}
									alt="cancel-2"
								/>
								{{ decision.decision_text }}
							</p>
							<p class="decision-time">Решение принято: {{ decision.decision_time }}</p>
						</div>
						<button
							id="delete-decision-button"
							class="btn btn-primary"
							onclick="deleteDecision()"
						>
							Удалить решение
						</button>
						<button
							id="make-decision-button"
							class="btn btn-primary"
							data-toggle="modal"
							data-target="#decision-modal"
						>
							Изменить решение
						</button>
						{% else %}
						<button
							id="make-decision-button"
							class="btn btn-primary"
							data-toggle="modal"
							data-target="#decision-modal"
							style="margin-top: 40px"
						>
							Принять решение
						</button>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Кастомное модальное окно -->
			<div id="decision-modal" class="custom-modal">
				<!-- Ваш существующий контент модального окна -->
			</div>
		</div>

		<!-- Подключаем JavaScript -->
		<script src="{{ url_for('crm.static', filename='js/risk_department/risk-department.js') }}"></script>
	</body>
	<script src="{{ url_for('crm.static', filename='js/risk_department/navigate-to-risk-page.js') }}"></script>
	<script src="{{ url_for('crm.static', filename='js/navigate-to-deal-page.js') }}"></script>
	<script src="{{ url_for('crm.static', filename='js/risk_department/formatting-date.js') }}"></script>
	<script src="{{ url_for('crm.static', filename='js/risk_department/copy-text.js') }}"></script>
</html>
